select#champions{
  display:none;
}
button#go_to_writing_page{
  display: none;
}
input#build_name{
  display: none;
}
div#display_build_field{
  display: none;
}
div#writing_field{
  display: none;
}
