body {
     margin: 0px;
     padding: 0px;
}
    /* ---------------------------------- Header-----------------------------------------------------------*/
.header {
     background-color: #4C8F96;
     height: 150px;
     left: 0px;
     overflow: visible;
     
}

.container {
     background-color: #EFECD2;
     margin: 0px auto;
     overflow: visible;
     position: relative;
     width: 1080px;
	 padding-bottom: 1px;
}

.header .left_col {
     float: left;
     overflow: visible;
     position: relative;
     width: 30%;
	 height: 100px; 
	 width: 200px; 
	 background-color: rgb(24, 42, 82);
	 position: relative; 
	 top: 60px;
	 
}
.left_col .head_title{
	position: relative;
    left: 30px;
    top: 30px;
    font-size: 40;
    font-family: Arial, Helvetica, sans-serif;
	color:white;
}

.header .right_col {
     float: right;
     width: 70%;
}

ul.nav {
  float: right;
  list-style: outside none none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  top: 55px;
}

ul.nav > li {
     background-color: rgb(24, 42, 82);
     color: white;
     float: left;
     list-style: outside none none;
     margin-right: 15px;
     padding: 15px;
	 font-family: Arial, Helvetica, sans-serif;
}

ul.nav > li:last-child {
     margin-right: 0px;
}
a.menutab {
	text-decoration :none;
	color :white;
}
  /* ---------------------------------- content-----------------------------------------------------------*/
.content {
  background-color: rgb(239, 239, 239); 
  z-index: -1; 
  padding-top: 20px;
}
.First_title{
	font-weight: bold;
    font-size: 20;
    padding-top: 30px;
    padding-bottom: 30px;
}
ul.contentt{
	padding-bottom: 40px;
	list-style : none;
	padding-left: 0;
}
.container .title
{
	font-weight: bold;
	font-size: 20;
	padding-bottom: 30px;
}
ul.contentt > li
{
	margin-bottom :30px;
	
}
ul.contentt> li:last-child {
    padding-bottom:300px;
	margin-bottom :0px;
}

    /* ---------------------------------- 4 pics part-----------------------------------------------------------*/


    /* ---------------------------------- big pic part-----------------------------------------------------------*/

    /* ---------------------------------- 3 blocks parts-----------------------------------------------------------*/
	
	    /* ----------------------------------end of content-----------------------------------------------------------*/
.footer {
     background-color: #4C8F96
     height: 76px;
	 border-style:solid;
	 border-color: #7AC8CE;
}
.bot_container{
	margin: 0 auto;
    width: 1080;
}
.copyright{
	width: 30%;
	position: relative;
    top: 25px;
    left: 373px;
    float: left;
}
ul.icons{
	list-style: none;
	overflow:auto;
	position: relative;
    top:0;
	
}
ul.icons > li{
	float : right;
	padding:10px;
	background-color:#36867D;
}
.bot_container .right_part{
	float : right;
	width:30%;
	
}
ul.icons > li:last-child{
  padding-right:0px;
}

