body {
     margin: 0px;
     padding: 0px;
}
    /* ---------------------------------- Header-----------------------------------------------------------*/
.header {
     background-color: #4C8F96;
     height: 150px;
     left: 0px;
     overflow: visible;
     
}

.container {
     background-color: #EFECD2;
     margin: 0px auto;
     overflow: visible;
     position: relative;
     width: 1080px;
}

.header .left_col {
     float: left;
     overflow: visible;
     position: relative;
     width: 30%;
	 height: 100px; 
	 width: 200px; 
	 background-color: rgb(24, 42, 82);
	 position: relative; 
	 top: 60px;
	 
}
.left_col .head_title{
	position: relative;
    left: 30px;
    top: 30px;
    font-size: 40;
    font-family: Arial, Helvetica, sans-serif;
	color:white;
}

.header .right_col {
     float: right;
     width: 70%;
}

ul.nav {
  float: right;
  list-style: outside none none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
  top: 55px;
}

ul.nav > li {
     background-color: rgb(24, 42, 82);
     color: white;
     float: left;
     list-style: outside none none;
     margin-right: 15px;
     padding: 15px;
	 font-family: Arial, Helvetica, sans-serif;
	 text-decoration:none;
	 
}

ul.nav > li:last-child {
     margin-right: 0px;
}
a.menutab {
	text-decoration :none;
	color :white;
}

  /* ---------------------------------- content-----------------------------------------------------------*/
.content {
   
  background-color: rgb(239, 239, 239); 
  z-index: -1; 
  padding-top: 20px;
}

    /* ---------------------------------- 4 pics part-----------------------------------------------------------*/
ul.content-a {
  
  list-style: none;
  margin:0px;
  padding:0px;
  overflow: auto;
}
ul.content-a > li {
  float: left;
  list-style: outside none none;
  margin-right: 66px;
  
}
ul.content-a > li:last-child{
  margin-right:0px;
}
.content .pics1{
	position: absolute; 
	z-index: 1;
	
}.content .pics2{
	position: relative;
	z-index: 5;
	top: 9;
	left: 5px;
	
}

    /* ---------------------------------- big pic part-----------------------------------------------------------*/
.pic_para{
	margin-top: 35px;
    margin-bottom: 35px;
    border-style: solid;
    border-color: #C1FFF5;
	overflow:auto;
	background-color: white;
}
.pic_para .picture
{
	float : left;
	width :50%;
}
.pic_para .para{
	position: relative;
    top: 127px;
    left: 73px;
	float :left;
	width :40%
}
.bot{
	overflow:auto;
}
.bot .left_part{
	width:40%;
	margin-top: 40px;
	border-style:solid;
	border-color:#3A7C7D;
	float:left;
	padding: 30px;
	background-color: white;
}
.left_part .big_title{
	padding: 20px;
    background-color: blue;
    position: relative;
    top: -50px;
    left: 5px;
	width: 25%;
}
ul.pic_title{
	position: relative;
    left: 3px;
	list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}
ul.pic_title > li{
	float:left;
	margin-right: 25px;
}
ul.pic_title > li:last-child{
  margin-right:0px;
}
.left_part .para{
	margin-top: 20px;
}


.bot .right_part{
	width:50%;
	float: right;
}
.hairstyle{
	
	margin-top: 40px;
    background-color: #5BB6CA;
    color: white;
	border-style: solid;
    border-color: #3A7C7D;
}
.hairstyle .big_title{
	background-color: blue;
    padding: 20;
    position: relative;
    width: 40%;
    top: -29px;
    left: 60px;
}
.hairstyle .para{
    margin: 30;
}
.hairstyle .Signature{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
	
}
.skinhead {
    border-style: solid;
    border-color: #157972;
    margin-top: 40px;
	position:absolute;
	 background-color: #5BB6CA;
    color: white;
}
.skinhead .para{
	float: left;
    width: 40%;
    position: relative;
    top: 55px;
    left: 30px;
}
.skinhead .pic{
	position: relative;
    top: -22px;
    width: 40%;
    float: left;
}
    /* ---------------------------------- 3 blocks parts-----------------------------------------------------------*/
	
	    /* ----------------------------------end of content-----------------------------------------------------------*/
.footer {
     background-color: #4C8F96;
     height: 76px;
	 border-style:solid;
	 border-color: #7AC8CE;
}
.bot_container{
	margin: 0 auto;
    width: 1080;
}
.copyright{
	width: 30%;
	position: relative;
    top: 25px;
    left: 373px;
    float: left;
}
ul.icons{
	list-style: none;
	overflow:auto;
	position: relative;
    top:0;
	
}
ul.icons > li{
	float : right;
	padding:10px;
	background-color:#36867D;
}
.bot_container .right_part{
	float : right;
	width:30%;
	
}
ul.icons > li:last-child{
  padding-right:0px;
}

