.process_preview_img_container{
  margin: auto;
  max-width: 400px;
  height: 400px;
  margin: auto;
  display: block;
  background-color: transparent;
}
.process_preview_title{
  font-size: 35px;
  padding-bottom: 20px;
  text-align: center;
}
.process_image_preview{
  margin: auto;
  width: 400px;
  height: 500px;
}
