#image_app{
  margin: auto;
  width: 75%;
}
body {
   position: relative;
   margin: 0;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../asset/background.jpg);
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}
.main_title{
  text-align: center;
  font-size: 50;
  padding-top: 100px;
}
.main_image_preview{
  margin: auto;
  width: 400px;
  height: 500px;
}
#main_preview_image_field{
  max-width: 400px;
  max-height: 400px;
}
.main_input_container{
  padding-bottom: 50px;
}
.main_preview_title{
  font-size: 35px;
  padding-bottom: 20px;
  text-align: center;
}
.main_preview_img_container{
  margin: auto;
  max-width: 400px;
  height: 400px;
  margin: auto;
  display: block;
  background-color: white;
}
.content_holder{
  padding-bottom: 40px;
}
