.create_build_name{
  font-size: 30px;
  color: white;
  padding-top: 15px;
}

.create_build_name_input_area{
  color: black;
  font-size: 25px;
}
.create_champion_select_field{
  display: none;
}
.create_select_champion{
  font-size: 30px;
  opacity: 0.6;
  border-radius: 5px;
  height: 80px;
  width: 80px;
}

.create_main_function{
  background-color: rgba(109,115,156,0.6);
  border-radius: 25px;
  border-color: #77869a;

}
.modal-content{
  min-width: 782px;

}
.create_list_champion{
  float: left;
  margin-right: 25px;
  padding-top: 50px;
}
#selected_champion{
  height: 80px;
  width: 80px;
}

#save{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.writing_field{
  margin-top: 30px;
  overflow: auto;
}
.field_tag{
  float: left;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(66, 68, 88, 0.8);
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;


}
.create_error_display_section{
  display : none;
  font-size: 30;
  color: white;
  font-weight: bold;
}
.create_save_succeed{
  color: green;
}
#save:hover {background-color: #3e8e41}

#save:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.field_selection{
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;
  border-style: groove;
}
#pool_and_selection{
  background-color: rgba(0,0,0,1);
  margin-top: 20px;
  overflow: auto;
  border-radius: 10px;
  min-height: 400px;
  color: white;

}
.save_loading{
  width: 100px;
}
.create_tab_active{
  background-color: white;
  color: black;
}
