.create_build_name{
  font-size: 30px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.save_button{
  margin-top: 20;
  float: left;
  width: 15%;
  margin-left: 30px;
}
.create_select_champion_button{
  margin-top: 20;
}
.create_select_champion_title_holder{
  color: white;
  font-size: 25px;
  width: 50%;
  float: left;
  margin-top: 20px;
  margin-right: 25px;
}
.create_build_name_input_area{
  color: black;
  font-size: 25px;
  margin-top: 15px;
}
.create_champion_select_field{
  display: none;
}
.create_select_champion{
  font-size: 30px;
  opacity: 0.6;
  border-radius: 5px;
  height: 80px;
  width: 80px;
}

.create_main_function{
  background-color: rgba(109,115,156,0.6);
  border-radius: 25px;
  border-color: #77869a;
  width: 80%;
  margin: auto;


}
.modal-content{
  min-width: 782px;

}
.create_list_champion{
  float: left;
  margin-right: 25px;
  padding-top: 50px;
}
#selected_champion{
  height: 80px;
  width: 80px;
  float: left;
}

#save{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2b2c37;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;

}

.writing_field{
  margin-top: 30px;
  width: 85%;
  margin: auto;
  /* overflow: auto; */
}
.field_tag{
  float: left;
  padding: 10px;
  margin-right: 10px;
  background-color: rgba(66, 68, 88, 0.8);
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;


}
.create_error_display_section{
  display : none;
  font-size: 30;
  color: white;
  font-weight: bold;
}
.create_save_succeed{
  color: green;
}
#save:hover {background-color: gray}

#save:active {
  background-color: white;
  color: black;
  box-shadow: 0 5px #5e5989;
  transform: translateY(4px);
}

.field_selection{
  overflow: auto;
  padding-top: 20px;
  margin: auto;
  width: 85%;

}
#pool_and_selection{
  background-color: rgba(0,0,0,1);
  margin-top: 20px;
  /* overflow: auto; */
  border-radius: 50px;
  min-height: 400px;
  color: white;
  margin-bottom: 40px;

}
.save_loading{
  width: 100px;
}
.create_tab_active{
  background-color: white;
  color: black;
}
.create_start_msg{
  font-size: 40px;
}
