.rune_pool_container{
  padding-top: 10px;
  min-height: 200px;
}
.rune_pool {
  float: left;
  border-style: solid;
  border-radius: 50%;
  background-color: grey;
  margin-right: 15px;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.3);

}
.rune_pool:hover {
  border-color: rgba(255, 255, 255, 1);
  border-width: 2px;
}

.rune_selection:hover {
  border-color: rgba(255, 255, 255, 1);
  border-width: 2px;
}

.rune_category{
  float: left;
  color: white;
  font-size: 25px;
  position: relative;
  top: 25px;
  padding-right: 40px;
  padding-left: 40px;
}

.rune_selection{
  margin-top: 20px;
  overflow: auto;
  min-height: 300px;
}
.rune_inactive{
  display: none;
}
.rune_selection_field{
  overflow: auto;
}
.rune_selection_category{
  border-color: rgba(255, 255, 255, 0.3);
  height: 85px;
  width: 85px;
  /* display :none; */
  /* float: left; */
  border-style: solid;
  border-radius: 50%;
  /* background-color: grey; */


}
.rune_selected_category{
  float: left;
  width: 50%;

}
.primary_rune_container{
    padding-left: 20px;
    float: left;
    padding-bottom: 30px
}
.rune_icon_category_selected{
  position: relative;
  right: 2px;
  bottom: 2px;
  cursor: pointer;
}
.rune_loading{
  cursor: pointer;
}
.rune_html_expand_section{
  /* float: left; */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border-style: solid;
  cursor: pointer;
  /* background-color: gray; */
  border-width: 3px;
}
.rune_html_seleted_rune{
  width: 90px;
  height: 90px;
  float: left;
}
.rune_html_selected_rune_info{
  width: 80%;
  float: left;
  color: white;
  margin-left: 15px;
}
.rune_html_selected_info_title{
  font-size: 40px;
}
.rune_html_selected_info_detail{
  font-size: 25px;
}
.rune_active_selected_rune_border{
  border-style: solid;
  border-radius: 50%;
  border-width: 3px;
}
.rune_sec_expand{
  float: left;
  width: 60%;
}
.rune_sec_decision_field{
  float: left;
}

.rune_decision{
  border-style: solid;
  border-width: 3px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}
.rune_sec_expand{
  margin-left: 20px;
}
.rune_sec_disable{
  pointer-events: none;
  opacity: 0.2;
}
.rune_note_field{
  padding-bottom: 150px;
  font-size: 25px;

}
.rune_input_note{
  margin: auto;
  width: 92%;
}
