body{
  /* background: linear-gradient(to bottom, transparent, black), url(); */
  background: linear-gradient(to bottom, black,#d3aa16);
  /* background: black; */
  background-repeat : no-repeat;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.main_logo{
  font-size: 50px;
  color: white;
  padding-bottom: 20px;
  margin: auto;
  width: 50%;
}
.layered-image {
  background: linear-gradient(to right, transparent, mistyrose),
      url("https://mdn.mozillademos.org/files/15525/critters.png");
}
.main_page_title{
  font-size: 35px;
}
.main_page_create{
  font-size: 35px;
}
#lol_app {
  margin: 0px auto;
  overflow: visible;
  position: relative;
  padding: 0;
  width: 1200px;
  /* background: linear-gradient(to bottom, black,#d3aa16); */

}
.view_buile_title{

  /* background-color: rgba(109,115,156,0.6); */
  font-size: 38px;
  border-radius: 15px;
  color:#d3aa16;
  margin-left: 0px;
  margin-right: 0px;

  }
.main_hint{
  font-size: 30px;
  color: rgbA(211,170,22,0.5);
  padding-bottom: 16px;

}
.main_view {
  top: 15px;
}

.main_build_css{
  padding-top: 60px;
  font-size: 30px;
  padding-bottom: 30px;
}
.main_champion_name_css{
  font-size: 50px;
  padding-top: 50px;
}
.main_build_name_css{
  padding-left: 30px;
  word-wrap: break-word;
}
.main_champion_icon_css{
  padding-top: 20px;
  padding-left: 30px;
}

.build_set_frame{
  /* background-color: rgba(109,115,156,0.6); */
  border-radius: 25px;
  margin-top: 25px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  margin-left: 0px;
  border-style: double;
  border-width: 5px;
  margin-right: 0px;
}
nav.main_nav_bar{
  color: red;
}
.content{
  margin-top:70px;
}
.user_profile{
  float: right;
}



ul.field_selection {
  list-style: outside none none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
}

ul.field_selection > li {
   float: left;
   list-style: outside none none;
   margin-right: 15px;
	 font-family: Arial, Helvetica, sans-serif;
	 text-decoration:none;

}

ul.field_selection  > li:last-child {
     margin-right: 20px;
}
.selection{
  disabled;

}
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #7a89a3
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgbA(207, 168, 139, 0.6);;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgbA(135, 103, 136, 0.6);;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

button{
  color: black;
}
.media{
  color :black;
}
textarea{
  color : black;
  resize: none;
}
