.item_edit_field{
  background-color: rgba(0,0,0,0.6);
}
.item_pool_and_choice{
  display: none;
  overflow: auto;
  padding-top: 30px;
}

.item_choice{
  float: left;
  width: 45%;
}
.item_pool{
  float: left;
  width: 55%;
  padding-bottom: 22px;
}

.item_chosen{

}
.item_pool_display{
  float: left;
  width: 60%;
  min-width: 297px;
  overflow: auto;
  max-height: 800px;

}

.item_pool_catagory{
  float: left;
  width: 40%;
  color: white;
  padding-left: 5px;

}

.item_name{
  color: white;
  width: 150px;
  float: left;
}
.item_icon{
  float: left;
  cursor: pointer;

}
.item_block{
  min-width: 100px;
  min-height: 70px;
  margin-bottom: 5px;
  background-color: #17151c;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #d19f7d;
  margin-right: 2px;

}
.item_pool_selection{
  overflow: auto;
  padding-top: 10px;

}

.item_block .popover.fade.right.in{
  min-width: 400px;
  font-size: 25px;
}

stats {
  color: DarkBlue;

}

.item_popover_description{
  padding-top: 10px;
  width: 70%;
  /* min-width: 300px; */
}

.item_popover_name{
  font-size: 25px;
  font-weight: bold;
}
.item_popover_detail > font {
  font-size: unset;
}

font > a {
  pointer-events: none;
  cursor: default;
}

.item_popover_detail{
  color: black;
  font-size: 16px;
}

.item_popover_icon{
  float: left;
  padding-right: 20;
  min-width: 70px;
}
.item_name{
  text-align: center;
  font-size: 15px;
  top: 20px;
  position: relative;

}
.item_price{
    color: white;
    float: left;
    font-size: 20px;
    font-size: 20px;
    top: 20px;
    position: relative;


}
.item_tree {
  float: right;
}

.item_check_box{
  float: left;
  width: 10%;
}

.item_list_name{
  float: left;
  width: 90%;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 5px;

}

.item_search_title{
  color: white;

}
.item_not_match{
  color: white;
}
.item_empty_icon{
  margin-left: 3px;
  margin-bottom: 10px;
}
.item_empty_icon_field{
  padding-top: 20px;
}

.item_cat{
  overflow: auto;
  background-color: #1b212a;
  border-style:solid;
  border-radius: 2px;
  border-color: #d19f7d;
  margin-bottom: 5px;
  margin-right: 10px;

}
.item_cat_list{
  overflow: auto;
  padding-left: 6px;
}
.item_set_name > span{
  color: white;
}
.item_empty_container{
  float: left;
}
#create_champion_select_field{
  overflow: auto;
}
input[type="text"]{
  color: black;
}
.item_list_title{
  font-size: 30px;
}
.item_active_button{
  background-color: black;
  color: white;
}
