.spell_field{
  overflow: auto;
}
.spell_selection{
  width: 40%;
  float: left;
  margin-top: 50px;
}

.selected_spell{
  height: 115px;
  width: 115px;
  margin-left: 90px;
  margin-top: 20px;
  margin-bottom:20px;
  border-style: groove;
  border-radius: 25px;
  text-align: center;
}

.spell_span1{
  font-size: 20px;
  color: white;
  position: relative;
  top: 29px;
}

.spell_span2{
  font-size: 20px;
  color: white;
  position: relative;
  top: 29px;
}


.spell_pool{
  margin-top: 30px;
  width: 60%;
  float: left;
  padding-bottom: 30px;
}

.spell_list_sspell{
  cursor: pointer;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.sspell_be_pushed{
  position: relative;
  bottom: 3px;
  right: 3px
}


.popover.fade.right.in{
  background-color: rgb(218, 219, 230);
  border-radius: 25px;
  border-style: groove;
  min-width: 600px;
  border-width: 3px;
  border-color: #354d8b;
}

.popover.fade.right.in .arrpw{
  border-width: 0;
}

.sspell_popover_icon{
  float: left;
  padding-right: 20;
  min-width: 120px;
}
.popover>.arrow:after{
  display:none;
}
.sspell_popover_description{
  padding-top: 10px;
  width: 70%;
  /* min-width: 300px; */
}
.sspell_popover_name{
  font-size: 25px;
  font-weight: bold;
}
.sspell_popover_detail{
  color: black;
  font-size: 16px;
}
