
#lol_app {
  margin: 0px auto;
  overflow: visible;
  position: relative;
  padding: 0;
  width: 900px;

}
.view_buile_title{
  background-color: rgba(109,115,156,0.6);
  font-size: 38px;
  border-radius: 15px;
  }

.main_view {
  top: 15px;
}

.build_set_frame{
  background-color: rgba(109,115,156,0.6);
  border-radius: 25px;
  margin-top: 25px;
}
nav.main_nav_bar{
  color: red;
}
.content{
  margin-top:70px;
}
.user_profile{
  float: right;
}



ul.field_selection {
  list-style: outside none none;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  position: relative;
}

ul.field_selection > li {
   float: left;
   list-style: outside none none;
   margin-right: 15px;
	 font-family: Arial, Helvetica, sans-serif;
	 text-decoration:none;

}

ul.field_selection  > li:last-child {
     margin-right: 20px;
}
.selection{
  disabled;

}
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #7a89a3
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgbA(207, 168, 139, 0.6);;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgbA(135, 103, 136, 0.6);;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
